.DS_Store
*.o
playgame
showgame
playnview
*.dSYM
build
*.mode2v3
*.pbxuser
*.log
maps
BotCppStarterpack
BotCppStarterpackDebug
BotExampleBully
BotExampleDual
BotExampleProspector
BotExampleRage
BotExampleRandom
